

body {
    margin: 0;
    background-color: #1B244A;
    color: white;
}

h3{
    width: 149;
height: 36;
opacity: 1;
top: 68px;
left: 85px;
font-weight: 700;
font-style: Bold;
font-size: 40px;
line-height: 35.89px;
letter-spacing: 0%;
text-align: center;

}
#pt1,#pt2{
    width: 155px;
height: 120px;
opacity: 1;
top: 125px;
left: 82px;
border-radius: 5px;
border : 1px solid #080001;
background: #080001;
font-family: Cursed Timer ULiL;
font-weight: 400;
font-style: Regular;
font-size: 90px;
line-height: 126.67px;
letter-spacing: 0%;
text-align: center;
color: #F94F6D;

}
.btn{
    border: 2px solid #9AABD8;
    background : #1B244A;
   width: 45px;
height: 45px;
opacity: 1;
top: 271px;
left: 82px;
border-radius: 5px;
font-family: Cursed Timer ULiL;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 27.81px;
letter-spacing: 0%;
text-align: center;
color: #9AABD8;


}

.container {
    display: flex;
    justify-content: space-around;
}

#restart{
    margin: 20px auto;
    width: 40px 50px;
    display: block;
}
